.table-scrollable {
    /* border-style: solid;
    border-color: blue; */

    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Enables momentum scrolling in iOS Safari */
  }
  #remindtable td{
    padding: 0;
    margin: 0;
    text-align: center;
    border: solid 1px;

  }
  #remindtable th{
    padding: 0;
    margin: 0;
    text-align: center;
    border: solid 1px;

  }
