.table-scrollable {
    /* border-style: solid;
    border-color: blue; */

    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Enables momentum scrolling in iOS Safari */
  }
  #remindtable td{
    padding: 0;
    margin: 0;
    text-align: center;
    border: solid 1px;

  }
  #remindtable th{
    padding: 0;
    margin: 0;
    text-align: center;
    border: solid 1px;

  }

  /* ---------------------------INPUTBOX CSS --------- */
  @media (max-width: 767.98px) {
    .select2-container {

        margin-bottom: 5px !important;

    }
}

    .form-group {
        position: relative;
        margin-bottom: 0.5rem;
    }

    .form-control {
        padding: 12px 10px 8px 10px;
        font-size: 14px;
        height: 40px;
    }

    .floating-label {
        position: absolute;
        top: -8px;
        left: 8px;
        font-size: 12px;
        color: #007bff;
        background: white;
        padding: 0 4px;
        transition: 0.2s ease-in-out;
        pointer-events: none;
    }

    .form-control:focus {
        border-color: #007bff;
        box-shadow: none;
    }

    .text-center {
        padding: 2px;
    }

    .row > [class*='col-'] {
        padding-left: 4px;
        padding-right: 4px;
    }
